.table-responsive {
  margin-top: 20px;
}

.table th, .table td {
  vertical-align: middle;
}

.btn-success {
  margin-top: 20px;
}

.alert {
  margin-top: 20px;
}

.selectedRow {
  background-color: #f0f8ff !important; /* Màu nền khi hàng được chọn */
  font-weight: bold !important; /* Đậm chữ để dễ nhìn hơn */
}
