.filterContainer {
    position: fixed;
    top: 60px; /* Adjust this value based on the height of your navbar */
    left: 10px;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter {
    max-width: 200px;
  }
  
  .dropdownButton {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .optionButton {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .subheading {
    margin-bottom: 10px;
  }
  