body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .input-group img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
  }
  
  .input-group input {
    width: 80%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
  }
  
  .google {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: aqua;
    color: black;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  a {
    text-decoration: none;
    color: #5cb85c;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h2 {
    text-align: center;
  }
  