.passwordChangeContainer {
    background-color: #f4f4f4;
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
}

.successMessage {
    color: green;
    margin-bottom: 15px;
}

.errorMessage {
    color: red;
    margin-bottom: 15px;
}
