.pageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
}

.forgotPasswordContainer {
    background-color: rgba(244, 244, 244, 0.9); /* Ensure text is readable with a semi-transparent background */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust the width as needed */
}

.forgotPasswordContainer h1 {
    color: #333;
    margin-bottom: 10px;
}

.forgotPasswordContainer p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

.forgotPasswordContainer ol {
    text-align: left;
    margin-bottom: 20px;
}

.forgotPasswordContainer input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
}

.btnNewPassword, .btnReturnLogin {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btnNewPassword {
    background-color: #5cb85c;
    color: white;
}

.btnReturnLogin {
    background-color: #d9534f;
    color: white;
}

.btnNewPassword:hover {
    background-color: chartreuse;
}

.btnReturnLogin:hover {
    background-color: tomato;
}

.successMessage {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}

.errorMessage {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}
