/* Navbar.module.css */

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

.form-control {
  width: 200px;
}
.nav-link.active {
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 4px;
}